
@model ClickedMeal


    <div class="popup-content" id="popup_content">

        <div class="grid-container">
            <div class="grid-item-1">
                <h2 class="titel">@Model.Name</h2>
                <p>
                 </p>
            </div>

            <div class="grid-item-2"></div>
            <div class="grid-item-3">
                <form method="post">
                    <button type="submit" id="btn_close" class="close" name="close" asp-page-handler="Close">
                        <span aria-hidden="false" name="close">&times;</span>
                    </button>
                </form>
            </div>

            <div class="grid-item-4">

                <img class="Gerecht" src="data:image/jpg;base64,@(Convert.ToBase64String(Model.Img))" alt="@Model.Img" width="700" height="500">
            </div>

            <div class="grid-item-5">
                <h2>@Model.Name</h2>
                <p>Ingredienten:</p>
                <ul>

                    @{
                        if (Model.Ingredients != null)
                            foreach (string ingredient in Model.Ingredients)
                            {
                                <li>@ingredient</li>
                            }
                    }
                </ul>

                <p>€ @Model.Prijs per portie</p>
                <h4>Aantal porties: @Model.Portions</h4>
                <form class="Bestellen" method="post" asp-page-handler="change">
                    <input type="number" id="quantity" name="quantity" min="1" max="@Model.Portions">
                    <input type="submit" name="Bestellen">
                </form>
                <form method="post" asp-page-handler="Rating" id="ratingform">

                    <div class="rate" id="rating_group">
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>

                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>

                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>

                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>

                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>

                        <input type="hidden" name="mealID" value="@Model.MealID" id="hidden-input" />

                        <button type="submit" id="secret_submit" style="visibility:hidden"></button>

                    </div>
                </form>

                <div class="profile">
                    <a asp-page="/ProfielPagina">
                        <form method="post" asp-page-handler="GetData">
                            <b>Profiel</b>
                        </form>
                    </a>
                </div>

                <script type="text/javascript">
                    var form = document.getElementById("ratingform");
                    console.log(document.getElementById("secret_submit"));
                    document.getElementById("rating_group").addEventListener("click", function () {
                        form.submit();
                    });</script>
            </div>



        </div>

    </div>

