@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/EigenMaaltijd.css"/>
    <link rel="stylesheet" href="~/css/popup.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <script src="lib/jquery/dist/jquery.js"></script>
    <title>Home</title>
    <style>
        .titel {
            margin-left: 70px;
        }

        h2 {
            margin: 0;
            padding: 15px 15px;
            text-align: left
        }

        h4 {
            text-align: left;
            margin: 15px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            padding: 10px;
        }

        .Bestellen {
            align-content: baseline;
            margin: 0px;
            padding: 0px;
            margin-right:750px;
        }

        ul {
            margin: 15px;
            padding: 10px;
        }

        li {
            text-align: left;
            margin: 15px;
            line-height: 0.8;
        }

        .Gerecht {
            border: 3px solid black;
        }

        p {
            text-align: left;
            padding: 0px;
            margin: 15px;
        }


        * {
            margin: 0;
            padding: 0;
        }

        .rate {
            float: left;
            height: 46px;
            padding: 0 10px;
        }

            .rate:not(:checked) > input {
                position: absolute;
                top: -9999999px;
            }

            .rate:not(:checked) > label {
                float: right;
                width: 1em;
                overflow: hidden;
                white-space: nowrap;
                cursor: pointer;
                font-size: 30px;
                color: #ccc;
            }

                .rate:not(:checked) > label:before {
                    content: '★ ';
                }

            .rate > input:checked ~ label {
                color: #ffc700;
            }

            .rate:not(:checked) > label:hover,
            .rate:not(:checked) > label:hover ~ label {
                color: #deb217;
            }

            .rate > input:checked + label:hover,
            .rate > input:checked + label:hover ~ label,
            .rate > input:checked ~ label:hover,
            .rate > input:checked ~ label:hover ~ label,
            .rate > label:hover ~ input:checked ~ label {
                color: #c59b08;
            }
    </style>


</head>

<body>

    <div class="container-fluid" id="container_index_1">
        <nav class="navbar navbar-expand" id="nav">
            <a class="navbar-brand" asp-page="/Index"><img src="~/img/Testlogo.png" height="35" width="140" alt="Testlogo EigenMaaltijd" id="Testlogo" /></a>

            <form class="form" id="form_zoekbalk" method="post" asp-page-handler="Search">

                <input class="form-control" type="search" placeholder="Zoeken naar gerecht..." id="input_zoekbalk" asp-for="SearchTerm">
            </form>
            <div class="d-xl-inline-flex" id="navbar-rechterkant">
                <a class="navbar" id="aanmelden" asp-page="/Inloggen"><img src="~/img/Profiellogo.png" height="20" width="20" alt="Logo Mijn Profiel" id="Profiellogo" /> &nbsp Aanmelden</a>
                <a class="navbar" id="Winkelwagen" asp-page=""><img src="~/img/shopping-cart.png" height="30" width="30" alt="Winkelwagen" id="Winkelwagen" /></a>

            </div>




        </nav>
    </div>

    <div class="container-fluid" id="container_index_2">
        <h1>Welkom bij EigenMaaltijd.</h1>
    </div>

    <div class="container-fluid" id="container_index_3">

        <div class="row no-gutters">
            @foreach (IndexMeal IMeal in Model.IMeals)
            {
                <div class="col col-lg-3">
                    <div class="hover-container">
                        <img class="img-fluid" src="@IMeal.img64Url" id="img_maaltijd" style=" width: 100px; height: 200px; object-fit: cover; " />
                        <div class="hover-content" id="@IMeal.meal.MealID">

                            <p class="maaltijd_beschrijving">
                                <b> @IMeal.meal.Name</b>  <br>
                                @IMeal.user.Adres<br>
                                ★ @IMeal.avgRating
                                <br /><br />
                                <i>*Klik voor meer informatie</i>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="popup" id="popup">

    <div class="popup">
        <div class="popup-content" id="popup_content">
            <div class="grid-container">
                <div class="grid-item-1">
                    <h2 class="titel">Stampot boerenkool met rookworst</h2>

                    <p>6,2/10 (13 Reviews)</p>
                </div>

                <div class="grid-item-2"></div>
                <div class="grid-item-3">
                    <form method="post">
                        <button type="submit" id="btn_close" class="close" name="close" asp-page-handler="Close">
                            <span aria-hidden="false" name="close">&times;</span>
                        </button>
                    </form>
                </div>

                <div class="grid-item-4">
                    <img class="Gerecht" src="~/img/Hutspot.png" width="700" height="500">
                </div>

                <div class="grid-item-5">
                    <h2>Stampot boerenkool met rookworst</h2>
                    <p>Ingredienten:</p>

                    <ul>
                        @{
                            if (Model.ClickedMeal.Ingredients != null)
                                foreach (string ingredient in Model.ClickedMeal.Ingredients)
                                {
                                    <li>@ingredient</li>
                                }
                        }
                    </ul>
                    <p>€ per portie</p>
                    <h4>Aantal porties:</h4>
                    <form class="Bestellen">
                        <input type="number" id="quantity" name="quantity" min="1" max="">
                        <input type="submit" name="Bestellen">
                    </form>
              
                </div>
            </div>
        </div>
 


        <script>
            console.log('Hover content elements', document.getElementsByClassName(".hover-content"));
            const hoverContentElements = document.getElementsByClassName("hover-content");
            for (var i = 0; i < hoverContentElements.length; i++) {
                var id = hoverContentElements[i].id
                var hoverContent = hoverContentElements[i]
                hoverContentElements[i].addEventListener("click", function ja() {
                    var item1 = this.id 
                    $.ajax({
                        type: "POST",
                        url: "/Index?handler=List",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        data: JSON.stringify(
                            {
                                Item1: item1
                            }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            var dvItems = $("#dvPostItems");
                            dvItems.empty();
                            $.each(response, function (i, item) {
                                var $tr = $('<li>').append(item).appendTo(dvItems);
                                $('#popup').load('/Index?handler=MealPartial');
                                document.querySelector(".popup").style.display = "flex";

                            });
                        },
                        failure: function (response) {
                            setTimeout(ja, 300)
                        }
                    })

                })

            }

        </script>

    </div>





</body>
